* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  color: #f2ebfb;
  background-color: #201f22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Palui";
  src: url("./assets/fonts/PaluiSPDemo-Bold.otf");
}

@font-face {
  font-family: "Hasking";
  src: url("./assets/fonts/hasking/Hasklig-Medium.ttf");
}

a {
  color: #2196f3;
}
